<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.ac.iiitd.guestacc">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar1">

        </activity>
        <activity
            android:name=".TypeLoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserHomeActivity"
            android:label="@string/check_avail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewAvailability"
            android:label="@string/avail_rooms"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FacultyHomeActivity"
            android:label="Home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FacultyRoomAddActivity"
            android:parentActivityName=".FacultyHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BookingDetail"
            android:label="@string/bookingdetails"
            android:parentActivityName=".FacultyHomeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".FacultyRegistrationActivity"
            android:label="Registration"
            android:parentActivityName=".Admin_HomeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Admin_HomeActivity"
            android:label="@string/admhome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin_CancelBookings"
            android:label="@string/AdminCancelBookings"
            android:parentActivityName=".Admin_HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin_Pending_Approval"
            android:label="@string/AdminPendingApproval"
            android:parentActivityName=".Admin_HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin_ValidatePayment"
            android:label="@string/Admin_ValidatePayment"
            android:parentActivityName=".Admin_HomeActivity" />
        <activity
            android:name=".Admin_StatusForToday_MainScreen"
            android:label="@string/AdminStatusForToday"
            android:parentActivityName=".Admin_HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin_FacultyRegistration"
            android:label="Registration"
            android:parentActivityName=".Admin_HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FacultyMyBookings"
            android:parentActivityName=".FacultyHomeActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar1.FullScreen"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>